<div class="container mt-5">
<div class="row">
<div class="flat-show-card">
<h1><%= @flat.name %></h1>
<p><%= @flat.address %></p>
</div>
<div class="col-8">

<div class="flat-show-card">
<h3>A bit more about this flat...</h3>
<p><%= @flat.description %></p>


<div class="map" style="background-image: url('https://maps.googleapis.com/maps/api/staticmap?center=10 Clifton Gardens London W9 1DT&zoom=13&scale=2&size=1000x1000&maptype=roadmap&markers=color:red%7C10 Clifton Gardens London W9 1DT&key=AIzaSyAPpx0wk4d-AQ8bhe8-a-ihC7NXLoPElhg')">
</div>
</div>

</div>
<div class="col-4">
      <div class="flat-show-card">
        <h5>Book this place!</h5>
          <form action>
            <div class="input-group">
              <span class="input-group-text" id="start-date-label">From:</span>
                <input type="text" class="form-control" placeholder="21/05/2024" aria-label="start-date">
              </div>
            <div class="input-group">
          <input type="submit" value="book" class="btn btn-success mt-2" style="width: 100%">
        </div>
      </div>
    </div>
  </div>
</div>
